.blog {
   background-color: var(--main-white-color);
}
.blog-hero {
   height: 35vh;
   width: 100%;
   display: grid;

   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(2, 1fr);
   /* max-width: 1160px;
   margin: 0 auto;  */
}

.blog-hero img {
   grid-column: 1/13;
   grid-row: 1/3;
   width: 100%;
   height: 100%;
   object-fit: cover;
   overflow: hidden;
   filter: brightness(80%);
}
.blog-hero h1 {
   z-index: 2;
   color: var(--main-white-color);
   font-size: 3em;
   grid-row: 1/3;
   grid-column: 1/13;
   justify-self: center;
   align-self: center;
   margin-top: 2em;
}

.blog-grid {
   height: 100%;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   /* grid-template-rows: repeat(12, 1fr); */
   max-width: 1160px;
   margin: 0em auto;
   padding: 4em 0 10em 0;
}
.blog-grid h3 {
   grid-column: 1/8;
   margin: 0 0 3em 0;
   line-height: 1.5;
}
.blog-grid p {
   grid-column: 1/7;
   line-height: 1.5;
}
.blog-grid img {
   grid-column: 8/13;
   width: 100%;
   /* object-fit: cover; */
   /* overflow: hidden; */
}
