.sponsors {
   width: 100%;
   /* background-color: var(--ligh-grey); */
   background-color: white;
}
.sponsoricon {
   width: 120px;
   height: 120px;
   /* width: 140px;
   height: 140px;
   margin: 0 0 0 0.3em;
   background-color: white; */
   overflow: hidden;
}
.sponsors .sponsoricon img {
   width: 120px;
   height: 120px;
   object-fit: contain;
   margin: 0 0 0 0.3em;
   background-color: white;

   /* width: 100%;
   height: auto; */
}

.sponsors ul {
   border-top: 1px solid var(--ligh-grey);
   display: flex;
   align-items: center;

   justify-content: space-between;
   list-style: none;
   padding: 3em 0;
   width: 1160px;
   margin: 0 auto;
}
