.nav-container {
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   align-items: center;
   z-index: 2;
   height: 90px;
   /* background-color: var(--main-black-color); */
}
.nav-container ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
   padding: 0;
   width: 1160px;
   margin: 0 auto;
}
.alllinks {
   display: flex;
}

li a {
   display: inline-block;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-decoration: none;
   color: var(--main-white-color);
   font-size: 0.9em;
   padding: 0.9em 1.4em;
}

.logo {
   margin-left: auto;
   background-color: var(--main-black-color);
   padding: 0;
}
.logo:hover {
   background-color: var(--main-black-color);
}

li a:hover {
   color: var(--main-black-color);
   background-color: var(--main-white-color);
}
li a.active {
   color: var(--main-black-color);
   background-color: var(--main-white-color);
}

.donate-button {
   background-color: var(--main-accent-color);
}

.donate-button:hover {
   background-color: var(--main-white-color);
   color: var(--main-accent-color);
}
